 body {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, sans-serif;
        text-align: center
      }

      #fb-input {
        flex-direction: horizontal;
      }
